<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/htgl/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/htgl/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/htgl/css/per_ztree.css" />
<link rel="stylesheet" href="/htgl/js/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" type="text/css"
	href="/htgl/css/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="/htgl/css/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/htgl/css/style.css" />
<title>角色查看</title>
<meta name="keywords"
	content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description"
	content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
	<div ng-app="myApp" ng-controller="roleViewCtrl">
		<article class="page-container">
			<form class="form form-horizontal" id="form-admin-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span
						class="c-red">*</span>角色名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{{rolePO.roleName}}
						<input type="hidden" class="input-text" ng-model="rolePO.id" >
						<input type="hidden" class="input-text" ng-model="zNodes" id="zNodes">
						<input type=hidden class="input-text" ng-model="rolePO.roleUpperId">
						<input type=hidden class="input-text" ng-model="rolePO.roleCode">
						<input type=hidden class="input-text" ng-model="rolePO.dataStatus">
						<input type=hidden class="input-text" ng-model="rolePO.createUserid">
						<input type=hidden class="input-text" ng-model="rolePO.createTime">
						<input type=hidden class="input-text" ng-model="rolePO.loginTime">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">上级角色：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box" style="width: 150px;"> <select
							class="select" ng-model="rolePO.roleUpperId"  ng-options="item.id as item.roleName for item in roleOpinionList" disabled="disabled">
						<option value="">--请选择--</option>
						</select>
						</span>
					</div>
				</div>
				<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
						class="c-red">*</span>关联资源：</label>
				<div class="zTreeDemoBackground">
				   
		        <ul id="treeDemo" class="ztree"></ul>
	            </div>
	            </div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">备注：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{{rolePO.remark}}
					</div>
				</div>
			</form>
		</article>
	</div>
	<!--/请在上方写此页面业务相关的脚本-->
</body>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/htgl/js/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/htgl/js/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/htgl/js/H-ui.min.js"></script>
<script type="text/javascript" src="/htgl/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
	src="/htgl/js/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript"
	src="/htgl/js/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript"
	src="/htgl/js/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/htgl/js/angular-1.2.21.min.js"></script>
<script type="text/javascript" src="/htgl/js/zTree/v3/api/apiCss/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/htgl/js/zTree/v3/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript">
var app = angular.module('myApp', []);

app.controller('roleViewCtrl', function($scope, $http) {
	
	$scope.GetUrlPara=function ()
	{
		　　var url = document.location.toString();
		　　var arrUrl = url.split("?");
		　　var para = arrUrl[1];
		　　return para;
		} 
	
	$scope.getRoleInfo = function(){
		Request = $scope.GetUrlPara();  
		var roleid=$scope.GetUrlPara().split("=")[1];
		var param={'roleid':roleid}
		$http({
			method : "POST",
			params : param,
			url : "/role/editRole"
		}).success(function(data) {
			$scope.rolePO=data.rolePO;
			$scope.zNodes=data.json;
			$(document).ready(function(){
				createTree();			
				$("#init").bind("change", createTree);
				$("#last").bind("change", createTree);
			});
		});
	};
	
	$scope.roleList = function() {
		$http({
			method : "POST",
			params : '',
			url : "/role/roleOpinionList"
		}).success(function(data) {
			$scope.roleOpinionList=data.roleOpinionList;
		});
	}
	$scope.roleList();
	$scope.getRoleInfo();
	
	

	var setting = {
			view: {
				selectedMulti: false
			},
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				onCheck: onCheck
			}
		};
		
		var clearFlag = false;
		function onCheck(e, treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			nodes = zTree.getChangeCheckedNodes();
			if(treeNode.checked){
				if(treeNode.isParent){
					$scope.idList.push(treeNode.id);
					var childList=treeNode.children;
					if(childList.length>0){
					for(var i=0 ; i < childList.length ;i++){
						$scope.idList.push(childList[i].id);
					}
					}
				}else{
					$scope.idList.push(treeNode.id);
				}
				
			}if(!treeNode.checked){
				if(treeNode.isParent){
					removeByValue($scope.idList,treeNode.id);
					var childList=treeNode.children;
					if(childList.length>0){
					for(var i=0 ; i < childList.length ;i++){
						removeByValue($scope.idList,childList[i].id);
					}
					}
				}else{
					removeByValue($scope.idList,treeNode.id);
				}
			}
			if (clearFlag) {
				clearCheckedOldNodes();
			}
			
		}
		function clearCheckedOldNodes() {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			nodes = zTree.getChangeCheckedNodes();
			for (var i=0, l=nodes.length; i<l; i++) {
				nodes[i].checkedOld = nodes[i].checked;
			}
		}
		function createTree() {
			$.fn.zTree.init($("#treeDemo"), setting, $scope.zNodes);
			clearFlag = $("#last").attr("checked");
		}

		  //删除数据		
		function removeByValue(arr, val) {
			  for(var i=0; i<arr.length; i++) {
			    if(arr[i] == val) {
			      arr.splice(i, 1);
			      break;
			    }
			  }
			}
});

</script>
</html>